<footer>

  <!-- Contents of page footer. -->
  <div class="container">
  <p>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>

  <!-- Scripts and plugins. -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Bootstrap JavaScript -->
  <script src="/assets/javascript/bootstrap.min.js"></script>

  <!-- Math Jax -->  
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  
  <!-- Make current page active, based on first part of URL only -->
  <script>
    $(document).ready(function() {
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
    });
  </script>
  
</footer>
