//
//   Fonts
//

// we are using a sans font for serif as well
$font-family-sans-serif:  "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       "Crimson Text", Georgia, "Times New Roman", Times, serif;
$font-family-base:        $font-family-serif;

// we set the font size in the root element, via media query in the site css
$font-size-base: 17px;

// font sizes for headings defined relatively,
// to allow for responsive font-size change
$font-size-h1:            floor((1.7 * $font-size-base));
$font-size-h2:            floor((1.2 * $font-size-base)); 
$font-size-h3:            $font-size-base;
$font-size-h4:            $font-size-base;

// blockquotes should have the same font size as the rest of the text
$blockquote-font-size: $font-size-base;

//
//   Colors
//

// grays
$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

$brand-primary:         darken(#2c36c3, 20%); 
// not modified from default bootstrap
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

// overall background color
$body-bg: #fff;

// overall text color
$text-color:            $gray-dark;
$text-color-light:      lighten($text-color, 30%);

// global textual link color
$link-color:            #2c36c3;
$link-hover-color:      darken($link-color, 15%);
// Link hover decoration.
$link-hover-decoration: none;

// color for headings
$heading-color:         $brand-primary;

// footer background
$footer-bg: lighten($gray-base, 90%);
$footer-text-color: lighten($text-color, 20%);
$footer-link-color: lighten($link-color, 15%);
$footer-link-hover-color: lighten($footer-link-color, 20%);


//
//   Navbar
//

// navbar  
$navbar-border-radius: 0;
$navbar-default-bg: $body-bg;
$navbar-default-border: $navbar-default-bg;

// navbar text color
$navbar-default-color:  $text-color;
    
// navbar link colors
$navbar-default-link-color:                $gray;
$navbar-default-link-hover-color:          $link-hover-color;
$navbar-default-link-active-color:         $navbar-default-color;
$navbar-default-link-active-bg:            $navbar-default-bg;
    
//
//   Pagination
//
$pagination-color:                     $link-color;
$pagination-bg:                        $body-bg;
$pagination-border:                    $body-bg;
    
$pagination-hover-color:               $link-hover-color;
$pagination-hover-bg:                  $gray-lighter;
$pagination-hover-border:              $pagination-hover-bg;

$pagination-active-color:              $body-bg;
$pagination-active-bg:                 $brand-primary;
$pagination-active-border:             $pagination-active-bg;

$pagination-disabled-color:            $gray-light;
$pagination-disabled-bg:               $body-bg;
$pagination-disabled-border:           $pagination-disabled-bg;

    
    
@import "bootstrap/variables";
