---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 
    "variables",
    "bootstrap",
    "syntax"
;

// figures
figure {
    @include make-row();
    
    .figure-body {
        @include make-sm-column(8);
    }
    
    .figure-caption {
        @include make-sm-column(4);
        
        font-size: ceil(($font-size-base * 0.85));
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;
    color: darken($link-color, 25%);
}

.nav {
    font-family: $font-family-sans-serif;
}

// maybe at some point we want to pick distinct font for this
.navbar-brand{
    font-family: "Cabin Condensed", $font-family-sans-serif;
}
