---
layout: default
# for disqus comments, set to false to disable, can also be done for individual posts 
comments: true
---
<div class="wrapper">
<div class="content-main">

<h1 class="post-heading">{{ page.heading }}</h1>
   
<p class="post-date"><em>{{ page.date | date: "%b %-d, %Y" }}  in 
      {% for cat in page.categories %}
        {{ cat }}{% if forloop.index < forloop.length %},{% endif %}
      {% endfor %}</em></p>

{{ content }}

{% if page.next %}
<div class="next-page">
  <a href="{{ page.next.url }}">
    <i class="fa fa-hand-o-left"></i> {{ page.next.heading }}
  </a>
</div>
{% endif %}


{% if page.previous %}
<div class="previous-page text-right">
  <a href="{{ page.previous.url }}">
    {{ page.previous.heading }} <i class="fa fa-hand-o-right"></i>
  </a>
</div>
{% endif %}


<!-- spacer -->
<div class="col-xs-12" style="height:50px;"></div>

<!-- social media buttons -->

<!-- Twitter -->
<a href="http://twitter.com/intent/tweet/?text={{ page.heading }}&url={{ page.url | prepend: site.url }}&via=ClausWilke" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
 <!-- Facebook -->
<a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
<!-- Google+ -->
<a href="https://plus.google.com/share?url={{ page.url | prepend: site.url }}" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
<!-- Reddit -->
<a href="http://reddit.com/submit?url={{ page.url | prepend: site.url }}&title={{ page.heading }}" title="Share on Reddit" target="_blank" class="btn btn-reddit"><i class="fa fa-reddit"></i> Reddit</a>
<!-- LinkedIn --> 
<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url | prepend: site.url }}&title={{ page.heading }}" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a>

<!-- **** Disqus **** -->

{% if page.comments %}

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'serialmentor';
    var disqus_identifier = '{{ page.url }}';
    var disqus_title = '{{ page.heading }}';
    var disqus_url = 'http://serialmentor.com{{ page.url }}';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{% endif %}

<!-- **** end Disqus **** -->

</div> <!-- content-main -->
</div> <!-- wrapper -->

