---
layout: default
---
<div class="wrapper">
<div class="content-main">

<h1 class="post-heading">{{ page.heading }}</h1>
   
<p class="post-date"><em>{{ page.date | date: "%b %-d, %Y" }}  in 
      {% for cat in page.categories %}
        {{ cat }}{% if forloop.index < forloop.length %},{% endif %}
      {% endfor %}</em></p>

{{ content }}

{% if page.next %}
<div class="next-page">
  <a href="{{ page.next.url }}">
    <i class="fa fa-hand-o-left"></i> {{ page.next.heading }}
  </a>
</div>
{% endif %}


{% if page.previous %}
<div class="previous-page text-right">
  <a href="{{ page.previous.url }}">
    {{ page.previous.heading }} <i class="fa fa-hand-o-right"></i>
  </a>
</div>
{% endif %}

</div> <!-- content-main -->
</div> <!-- wrapper -->
