---
layout: default
# for disqus comments, set to false to disable, can also be done for individual posts 
comments: false
---
<div class="wrapper">
<div class="content-main">

<h1 class="post-heading">{{ page.heading }}</h1>
   
<p class="post-date"><em>{{ page.date | date: "%b %-d, %Y" }}  in 
      {% for cat in page.categories %}
        {{ cat }}{% if forloop.index < forloop.length %},{% endif %}
      {% endfor %}</em></p>

{{ content }}

{% if page.next %}
<div class="next-page">
  <a href="{{ page.next.url }}">
    <i class="fa fa-hand-o-left"></i> {{ page.next.heading }}
  </a>
</div>
{% endif %}


{% if page.previous %}
<div class="previous-page text-right">
  <a href="{{ page.previous.url }}">
    {{ page.previous.heading }} <i class="fa fa-hand-o-right"></i>
  </a>
</div>
{% endif %}

<div class="col-xs-12" style="height:50px;"></div>


<!-- **** Disqus **** -->

{% if page.comments %}

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'serialmentor';
    var disqus_identifier = '{{ page.url }}';
    var disqus_title = '{{ page.heading }}';
    var disqus_url = 'http://serialmentor.com{{ page.url }}';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{% endif %}

<!-- **** end Disqus **** -->

</div> <!-- content-main -->
</div> <!-- wrapper -->

